
{% extends 'base.html' %}
{% load static %}
{% block menu %}
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand font" href="{% url 'principal' %}">NOSSA ENTREGA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Empresa
          </a>
          <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="{% url 'read_doc'%}">Cadastro</a></li>
            <li><a class="dropdown-item" href="{% url 'create_doc'%}">Listar</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'read_person' %}">Listar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'create_person' %}">Cadastrar</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link  font" href="{% url 'login'%}" role="button"  aria-expanded="false">
            Login
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link font" href="{% url 'pedidos'%}" role="button"  aria-expanded="false">
            Pedidos
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
{% endblock %}
