{% extends 'menu.html' %}
{% load static %}
{% block title %}Pedidos{% endblock %}

{% block body %}


</form>
<div class="container">
    <h1>CARDÁPIO</h1>

    <div class="container">
        <h1>Restaurante</h1>
    <form class="row g-3">
        <div class="col-md-4">
            <label for="state" class="form-label">Marmita</label>
            <select id="state" class="form-select">
                <option selected>Frango</option>
                <option selected>Carne</option>
                <option selected>Calabresa</option>
                <option selected>Mista</option>
            </select>
            <label for="state" class="form-label">Quantidade</label>
             <select id="state" class="form-select">
                 <option selected>1</option>
                <option selected>2</option>
                <option selected>3</option>
                <option selected>4</option>
                <option selected>5</option>
                 </select>
        </div>

        <div class="container">
    <h1>Lanchonete</h1>
            <div class="col-md-4">
            <label for="state" class="form-label">Hambúrguer</label>
            <select id="state" class="form-select">
                <option selected>Burguer simples</option>
                <option selected>Burguer Especial</option>
                <option selected>Burguer Misto</option>
            </select>
            </div>

            <div class="col-md-4">
            <label for="state" class="form-label">Quantidade</label>
             <select id="state" class="form-select">
                 <option selected>1</option>
                <option selected>2</option>
                <option selected>3</option>
                <option selected>4</option>
                <option selected>5</option>
                 </select>
        </div>
            <div class="container">
    <h1>Bebidas</h1>

                <form class="row g-3">
        <div class="col-md-4">
            <label for="state" class="form-label">Bebidas</label>
            <select id="state" class="form-select">
                <option selected>suco</option>
                <option selected>refrigerante</option>
                <option selected>água</option>
            </select>
            <label for="state" class="form-label">Quantidade</label>
             <select id="state" class="form-select">
                 <option selected>1</option>
                <option selected>2</option>
                <option selected>3</option>
                <option selected>4</option>
                <option selected>5</option>
                 </select>
        </div>









        <div class="col-4">

            <button type="submit" class="btn btn-primary"<li><a class,="dropdown-item" href="{% url 'pagamentos' %}">Finalizar Pedido</a></li></button>

        </div>

    </form>
</div>
{% endblock %}
